<ion-app [ngClass]="{'dark': darkMode}">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
          <ion-list id="inbox-list" lines="none">
              <ion-list-header>
                  <ion-label>Go-send</ion-label>

                  <ion-buttons *ngIf="user">
                      <ion-button size="small" routerLink="/" color="dark">
                          <ion-icon slot="icon-only" name="home-outline"></ion-icon>
                      </ion-button>
                      <ion-button (click)="logout()" color="dark">
                          logout
                          <ion-icon slot="end" name="log-out-outline"></ion-icon>
                      </ion-button>
                  </ion-buttons>
              </ion-list-header>
              <ion-item button (click)="toggleDarkMode()">
                  <ion-label>
                      Dark mode
                  </ion-label>
                  <ion-icon name="moon" slot="end"></ion-icon>
              </ion-item>

              <app-dir *ngIf="user" class="ion-padding" [path]="path" [parent]=true></app-dir>

          </ion-list>
      </ion-content>
    </ion-menu>


    <div class="ion-page" id="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-toggle>
                        <ion-button>
                            <ion-icon slot="icon-only" name="menu"></ion-icon>
                        </ion-button>
                    </ion-menu-toggle>
                </ion-buttons>
                <ion-title>{{ title }}</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-refresher slot="fixed" (ionRefresh)="reload()">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <ion-router-outlet id="main-content"></ion-router-outlet>
        </ion-content>
    </div>

  </ion-split-pane>
</ion-app>
